In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data (1).csv")

In [3]:
df.head()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0

In [4]:
df.corr()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
Patient_Number,1.000000,0.021430,-0.001083,-0.005239,-0.030827,-0.000281,0.023494,0.039002,0.022939,0.016808,0.022992,-0.025756,-0.013779,0.030543,0.004823
Blood_Pressure_Abnormality,0.021430,1.000000,0.139488,-0.033458,-0.066322,0.040193,0.054902,-0.017331,0.012250,0.037952,0.014199,0.020773,0.009304,0.429188,0.318598
Level_of_Hemoglobin,-0.001083,0.139488,1.000000,-0.023621,-0.184394,0.117889,-0.412928,-0.404411,0.023349,-0.026604,0.022141,0.007865,0.004746,0.055262,0.030384
Genetic_Pedigree_Coefficient,-0.005239,-0.033458,-0.023621,1.000000,-0.022164,-0.010230,0.023103,0.063639,-0.036887,-0.007651,0.039028,-0.021080,0.012933,0.041523,0.008336
Age,-0.030827,-0.066322,-0.184394,-0.022164,1.000000,0.028151,0.057941,-0.030985,0.025314,0.027068,-0.045740,0.017619,0.014057,-0.057540,-0.025738
BMI,-0.000281,0.040193,0.117889,-0.010230,0.028151,1.000000,0.010219,0.011357,0.008927,-0.004936,0.026385,-0.040780,-0.010689,0.012221,0.041061
Sex,0.023494,0.054902,-0.412928,0.023103,0.057941,0.010219,1.000000,NaN,-0.000848,0.006297,-0.009347,0.004416,0.000729,0.026082,-0.011981
Pregnancy,0.039002,-0.017331,-0.404411,0.063639,-0.030985,0.011357,NaN,1.000000,-0.162890,-0.063492,0.010719,0.021178,0.046012,0.004078,-0.056473
Smoking,0.022939,0.012250,0.023349,-0.036887,0.025314,0.008927,-0.000848,-0.162890,1.000000,-0.014974,0.003364,0.008671,-0.026398,-0.025196,0.018267
Physical_activity,0.016808,0.037952,-0.026604,-0.007651,0.027068,-0.004936,0.006297,-0.063492,-0.014974,1.000000,-0.032261,-0.011322,-0.033700,0.003938,0.000883
salt_content_in_the_diet,0.022992,0.014199,0.022141,0.039028,-0.045740,0.026385,-0.009347,0.010719,0.003364,-0.032261,1.000000,-0.029873,-0.019268,-0.002856,0.019965
alcohol_consumption_per_day,-0.025756,0.020773,0.007865,-0.021080,0.017619,-0.040780,0.004416,0.021178,0.008671,-0.011322,-0.029873,1.000000,0.014852,0.024967,-0.009832
Level_of_Stress,-0.013779,0.009304,0.004746,0.012933,0.014057,-0.010689,0.000729,0.046012,-0.026398,-0.033700,-0.019268,0.014852,1.000000,0.018669,-0.015993
Chronic_kidney_disease,0.030543,0.429188,0.055262,0.041523,-0.057540,0.012221,0.026082,0.004078,-0.025196,0.003938,-0.002856,0.024967,0.018669,1.000000,0.118897
Adrenal_and_thyroid_disorders,0.004823,0.318598,0.030384,0.008336,-0.025738,0.041061,-0.011981,-0.056473,0.018267,0.000883,0.019965,-0.009832,-0.015993,0.118897,1.000000

In [5]:
df.describe()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
count,2000.000000,2000.000000,2000.000000,1908.000000,2000.000000,2000.000000,2000.000000,442.000000,2000.000000,2000.000000,2000.000000,1758.000000,2000.000000,2000.0000,2000.000000
mean,1000.500000,0.493500,11.710035,0.494817,46.558500,30.081500,0.496000,0.450226,0.509500,25254.424500,24926.097000,251.008532,2.012500,0.5050,0.443500
std,577.494589,0.500083,2.186701,0.291736,17.107832,11.761208,0.500109,0.498080,0.500035,14015.439623,14211.692586,143.651884,0.823822,0.5001,0.496922
min,1.000000,0.000000,8.100000,0.000000,18.000000,10.000000,0.000000,0.000000,0.000000,628.000000,22.000000,0.000000,1.000000,0.0000,0.000000
25%,500.750000,0.000000,10.147500,0.240000,32.000000,20.000000,0.000000,0.000000,0.000000,13605.750000,13151.750000,126.250000,1.000000,0.0000,0.000000
50%,1000.500000,0.000000,11.330000,0.490000,46.000000,30.000000,0.000000,0.000000,1.000000,25353.000000,25046.500000,250.000000,2.000000,1.0000,0.000000
75%,1500.250000,1.000000,12.945000,0.740000,62.000000,40.000000,1.000000,1.000000,1.000000,37382.250000,36839.750000,377.750000,3.000000,1.0000,1.000000
max,2000.000000,1.000000,17.560000,1.000000,75.000000,50.000000,1.000000,1.000000,1.000000,49980.000000,49976.000000,499.000000,3.000000,1.0000,1.000000

In [6]:
corr_matrix = abs(df.corr())
print(corr_matrix["Blood_Pressure_Abnormality"].sort_values(ascending=False))

Blood_Pressure_Abnormality       1.000000
Chronic_kidney_disease           0.429188
Adrenal_and_thyroid_disorders    0.318598
Level_of_Hemoglobin              0.139488
Age                              0.066322
Sex                              0.054902
BMI                              0.040193
Physical_activity                0.037952
Genetic_Pedigree_Coefficient     0.033458
Patient_Number                   0.021430
alcohol_consumption_per_day      0.020773
Pregnancy                        0.017331
salt_content_in_the_diet         0.014199
Smoking                          0.012250
Level_of_Stress                  0.009304
Name: Blood_Pressure_Abnormality, dtype: float64

In [7]:
df.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient       92
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day       242
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

In [8]:
df.drop(["Patient_Number","Genetic_Pedigree_Coefficient","salt_content_in_the_diet","alcohol_consumption_per_day","Level_of_Stress","Physical_activity","Pregnancy","Smoking"],inplace = True, axis = 1)
df.head(20)

,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Age,BMI,Sex,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,11.28,34,23,1,1,1
1,0,9.75,54,33,1,0,0
2,1,10.79,70,49,0,1,0
3,0,11.00,71,50,0,1,0
4,1,14.17,52,19,0,0,0
5,0,11.64,23,48,0,0,0
6,1,11.69,43,41,1,1,1
7,0,12.70,48,20,0,0,0
8,0,10.88,72,44,0,0,0
9,1,14.56,40,44,0,0,0
10,1,8.58,70,28,1,1,1
11,1,12.77,35,17,0,1,0
12,1,16.40,31,50,0,0,1
13,0,16.42,75,40,0,0,1
14,0,11.97,18,32,0,1,1
15,1,10.96,43,27,1,1,0
16,1,11.98,65,28,1,0,0
17,1,11.60,61,44,0,0,0
18,1,8.99,18,30,1,1,0
19,1,16.55,18,38,0,1,1

In [9]:
df["Level_of_Hemoglobin"] = round(df["Level_of_Hemoglobin"],1)
df.head()

,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Age,BMI,Sex,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,11.3,34,23,1,1,1
1,0,9.8,54,33,1,0,0
2,1,10.8,70,49,0,1,0
3,0,11.0,71,50,0,1,0
4,1,14.2,52,19,0,0,0

In [10]:
df.fillna(0,inplace = True)

In [11]:
x = df[["Level_of_Hemoglobin","Chronic_kidney_disease","Adrenal_and_thyroid_disorders","Age","BMI","Sex"]]
y = df["Blood_Pressure_Abnormality"]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [16]:
predicted = model.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predicted)

0.72

In [18]:
model.score(x_train,y_train)

0.709375

In [19]:
model.score(x_test,y_test)

0.72

In [20]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,predicted)
r2_score

-0.1217948717948718

In [21]:
from sklearn.metrics import mean_squared_error
MSE = mean_squared_error(y_test,predicted)
MSE

0.28

In [22]:
a = pd.DataFrame({"Actual":y_test,"predict":predicted})

In [26]:
a.head(20)

      Actual  predict
405        0        1
1190       1        1
1132       0        0
731        0        0
1754       0        0
1178       1        1
1533       1        1
1303       1        1
1857       1        1
18         1        1
1266       0        1
1543       0        0
249        0        1
191        0        0
721        0        0
1896       1        0
452        0        0
1947       0        0
1544       0        0
1205       1        0

In [27]:
import pickle
pickle.dump(model,open("model.pkl","wb"))

In [28]:
model.predict([[12,0,0,19,22.4,1]])

array([1], dtype=int64)